Redirect /Wiki http://nice.sourceforge.net/cgi-bin/view 
Redirect /Nice.tar http://prdownloads.sourceforge.net/nice/Nice-0.7.4.tar 
Redirect /Nice.zip http://prdownloads.sourceforge.net/nice/Nice-0.7.4-windows.zip 
Redirect /nice.deb http://prdownloads.sourceforge.net/nice/nice_0.7.4_all.deb 
Redirect /nice.rpm http://prdownloads.sourceforge.net/nice/Nice-0.7.4-1.noarch.rpm
