Redirect /Wiki http://nice.sourceforge.net/cgi-bin/twiki/view 
Redirect /Nice.tar http://prdownloads.sourceforge.net/nice/Nice-0.7.8.tar 
Redirect /Nice.zip http://prdownloads.sourceforge.net/nice/Nice-0.7.8-windows.zip 
Redirect /nice.deb http://prdownloads.sourceforge.net/nice/nice_0.7.8_all.deb 
Redirect /nice.rpm http://prdownloads.sourceforge.net/nice/Nice-0.7.8-1.noarch.rpm
